@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    background-color: #c1e4bd;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#87d4a5, #c1e4bd);
}

.header__logo {
    height: 11.25rem;
    width: 11.25rem;
    margin: 1%;
}

.conteudo {
    height: 100vh;
    display: flex;
    background: #c1e4bd;
    justify-content: center;
    align-items: center;
    margin: 0 15% 5% 0;
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 100px 0 100px 100px;
    gap: 100px;
}

.pergunta__p {
    display: flex;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}

.texto {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #c1e4bd;
    border-radius: 5px;
    font-size: 1.88rem;
    resize: none;
    border: none;
}

.botao {
    display: flex;
    gap: 30px;
    height: 50px;
}

.botao__criptografar, .botao__descriptografar {
    display: flex;
    justify-content: center;
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    color: #000000;
    background: #d39b6e;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.botao__criptografar:hover, .botao__descriptografar:hover {
    background: #00b818;
    transition: 1s;
    transform: scale(1.1);
}

.botao__criptografar:active, .botao__descriptografar:active {
    color: #ffffff;
    transition: none;
    border: 2px solid #ffffff;
}

.resposta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: 4px solid #000000;
    height: 620px;
    width: 408px;
    gap: 40px;
    text-align: center;
}

.resposta__imagem {
    height: 400px;
    width: 400px;
}

.resposta__p1 {
    font-weight: bold;
    font-size: 1.25rem;
}

.resposta__copiar {
    background: #d39b6e;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: 'Krona One', sans-serif;
}

.resposta__copiar:hover {
    background: #00b818;
    transition: 1s;
    transform: scale(1.1);
}

.resposta__copiar:active {
    color: #ffffff;
    transition: none;
    border: 2px solid #ffffff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    background: #87d4a5;
    padding: 15px;
}

.footer__logo {
    font-size: 1.25rem;
    color: #000000;
}

.footer__logo:hover {
    transform: scale(1.5);
    transition: 1s;
}

@media (max-width: 1100px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: auto;
        gap: 10px;
        width: auto;
    }

    .pergunta {
        margin: 0;
        width: auto;
    }

    .pergunta__p {
        width: 19rem;
    }

    .botao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .botao__criptografar, .botao__descriptografar {
        padding: 0.6rem;
        width: auto;
    }

    .resposta {
        width: 360px;
        margin-bottom: 5%;
    }

    .resposta__imagem {
        width: 350px;
        height: 350px;
        margin-bottom: 15%;
    }
}